DB_ADDR=keycloak_db
DB_DATABASE=keycloak
DB_PASSWORD=$KEYCLOAK_DB_PASSWORD
DB_USER=keycloak
DB_VENDOR=POSTGRES
KEYCLOAK_PASSWORD=$KEYCLOAK_ADMIN_PASS
KEYCLOAK_USER=admin
PROXY_ADDRESS_FORWARDING=true
