ROUTER_NAME=vpnrouter
API_ENDPOINT=http://api:5000
API_TOKEN=$VPNROUTER_API_TOKEN
API_ENDPOINT_HOST=api.${SC_BASE_DOMAIN}
PRIVATE_KEY=/etc/wireguard/private_key
SC_BASE_DOMAIN=$SC_BASE_DOMAIN
HMAC_AUTH_SECRET_KEY=$VPNROUTER_HMAC_AUTH_SECRET_KEY
