ROUTER_NAME=vpnrouter
API_ENDPOINT=http://api:5000
API_TOKEN=$VPNROUTER_API_TOKEN
API_ENDPOINT_HOST=api.${SC_BASE_DOMAIN}
ENDPOINT_IP=${EXTERNAL_IP}
VOUCH_ENDPOINT=https://vouch.${SC_BASE_DOMAIN}
NGINX_LISTEN_ADDRESS=0.0.0.0
