VOUCH_COOKIE_SECURE=false
VOUCH_COOKIE_DOMAIN=${SC_BASE_DOMAIN}
VOUCH_HEADERS_CLAIMS=organizations,is_privileged
VOUCH_ALLOWALLUSERS=true
OAUTH_PROVIDER=oidc
OAUTH_SCOPES=openid,email,profile
OAUTH_CLIENT_ID=vouch
OAUTH_CLIENT_SECRET=${VOUCH_OIDC_RP_CLIENT_SECRET}
OAUTH_CALLBACK_URL=https://vouch.${SC_BASE_DOMAIN}/auth
OAUTH_AUTH_URL=https://accounts.${SC_BASE_DOMAIN}/realms/sentinelc/protocol/openid-connect/auth
OAUTH_TOKEN_URL=https://accounts.${SC_BASE_DOMAIN}/realms/sentinelc/protocol/openid-connect/token
OAUTH_USER_INFO_URL=https://accounts.${SC_BASE_DOMAIN}/realms/sentinelc/protocol/openid-connect/userinfo
