DOCS_BASE_URL=https://docs.${SC_BASE_DOMAIN}
API_BASE_URL=https://api.${SC_BASE_DOMAIN}
LOGS_BASE_URL=https://logs.${SC_BASE_DOMAIN}
LOGS_BASE_WSS_URL=wss://logs.${SC_BASE_DOMAIN}
AUTH_BASE_URL=https://accounts.${SC_BASE_DOMAIN}
OIDC_AUTHORITY=https://accounts.${SC_BASE_DOMAIN}/
OIDC_CLIENT_ID=front
MAINTENANCE_ON=${MAINTENANCE_ON}
MAINTENANCE_PASS=${MAINTENANCE_PASS}
