ALLOWED_HOSTS=api.${SC_BASE_DOMAIN}
DASHBOARD_ENDPOINT=https://app.${SC_BASE_DOMAIN}
DATABASE_URL=postgres://django:${API_DB_PASSWORD}@api_db:5432/api
DATABASE_SSL_REQUIRE=False
DJANGO_SECRET_KEY=$DJANGO_SECRET_KEY
VPNROUTER_HMAC_AUTH_SECRET_KEY=$VPNROUTER_HMAC_AUTH_SECRET_KEY
EMAIL_FROM=\"${SC_DISPLAY_NAME}\" <${ADMIN_EMAIL}>
EMAIL_HOST=$SMTP_HOST
EMAIL_HOST_PASSWORD=$SMTP_PASS
EMAIL_HOST_USER=$SMTP_USER
EMAIL_PORT=$SMTP_PORT
EMAIL_USE_TLS=${SMTP_USE_TLS}
EMAIL_USE_SSL=${SMTP_USE_SSL}
JWT_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs47wKzGyk7ROArgu5KgJOTH08O0lbfKJHfT4UihUCOvSDt32BByLro9nma6im8Zw+sk7Nbk0sAB17crLFD+3ysK28Xc7LUI2dmHpiKi09foaOFNlvRjGD7SyWm1twqJ2FkP3JQa1QYlSVw/v3tcFuHM7cIZgtXaz9kamljMlZNG2cLteMDdCgcg8D2zOmw8ZwPus/E42oI5LM+ixTyukDAQBixJtPRUwNo9iEd3G1/0fXEDuFij0HDXxSGlWYwHb4CMceeSQB+loMgrzgBtjpgX/vNAzQlVjKsGaj1y+pn24iUD0C46fFOS2eEfUre9Oi0L3LODundSKbNQr71SYiQIDAQAB
KEYCLOAK_ENDPOINT=https://accounts.${SC_BASE_DOMAIN}
KEYCLOAK_PASSWORD_EN=$KEYCLOAK_APICLIENT_PASS
KEYCLOAK_PASSWORD_FR=$KEYCLOAK_APICLIENT_PASS
KEYCLOAK_USERNAME_EN=apiclient-en@${SC_BASE_DOMAIN}
KEYCLOAK_USERNAME_FR=apiclient-fr@${SC_BASE_DOMAIN}
OIDC_RP_CLIENT_ID=django
OIDC_RP_CLIENT_SECRET=${API_OIDC_RP_CLIENT_SECRET}
PORTAL_ENDPOINT=https://portal.${SC_BASE_DOMAIN}
PORTAL_IP=${EXTERNAL_IP}
REDIS_URL=redis://api_redis:6379
SILKY_INTERCEPT_PERCENT=0
SLACK_CHANNEL=
SLACK_TOKEN=
ENABLE_ONBOARDING=${ENABLE_ONBOARDING}
MAINTENANCE_ON=${MAINTENANCE_ON}
MAINTENANCE_PASS=${MAINTENANCE_PASS}
SITE_ID=2
